@media all and (max-width: 1199px) {
    .banner-area {
        padding: 80px 0;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .service-content h3 {
        font-size: 18px;
    }
    .about-content {
        padding-left: 30px;
    }
    section{
        overflow-x: hidden;
    }
}
@media all and (max-width: 991px) {
    .about-content {
        text-align: left;
    }
    .section-title h1 {
        font-size: 36px;
    }
    .about-content h2 {
        margin: auto;
        padding-bottom: 20px;
    }
    .about-content p {
        margin: auto;
    }
    .service-area {
        padding: 70px 0;
    }
    .contact-area {
        padding: 80px 0;
    }
    .contact-form-area {
        padding-top: 0px;
    }
    .form-content {
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-title h2 {
        font-size: 36px;
    }
    .banner-content h1 {
        text-align: center;
    }
    .contact-button {
        text-align: center;
    }
    .about-content {
        max-width: 100%;
        float: none;
        padding: 30px 0;
    }
    .about-image {
        display: none;
    }
    .story-area.about-area {
        background: url(../images/about.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .unique-area.about-area {
        background: url(../images/about2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .about-area {
        padding: 20px;
    }
    .about-content {
        background: rgba(226,230,231,1);
        padding: 40px 15px;
    }
    .form-content {
        padding-top: 30px;
    }
    .email-contact {
        margin-top: 0;
    }
    .service-content {
        padding-top: 30px;
    }
    .footer-area {
        text-align: center;
    }
}
@media all and (max-width: 767px) {
    .section-title h1 {
        font-size: 30px;
    }
    .about-content h2 {
        font-size: 30px;
    }
    .contact-title h2 {
        font-size: 30px;
    }
    .banner-content h1 {
        font-size: 40px;
        padding: 30px;
    }
    .banner-content ::after {
        left: 0;
        width: 100%;
    }
    .container{
        padding: 0 20px;
    }
    .contact-button {
        margin-top: 10px;
    }
    .contact-button a {
        padding: 15px 25px;
    }
    .contact-us-button a {
        padding: 15px 25px;
    }
    .logo-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .bar-icon {
        display: block !important;
        width: 25px;
        cursor: pointer;
        position: relative;
        z-index: 999;
    }
    .bar-icon div {
        background: rgb(60, 60, 60);
        width: 100%;
        height: 2px;
    }
    .bar-icon div{
        margin-top: 5px;
        position: relative;
    }
    .bar-icon div:first-child{
        margin-top: 5px;
    }
    .bar-icon.toggle div {
        background: #FFF;
    }
    .bar-icon.toggle div:first-child {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .bar-icon.toggle div:nth-child(2) {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }
    .bar-icon.toggle div:nth-child(3) {
        bottom: 7px;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    .header-menubar {
        position: fixed;
        height: 100vh;
        width: calc(100% - 63px);
        background: rgba(60,60,60,1);
        right: -120%;
        top: 0;
        padding-top: 49px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .header-menubar.offcanvas-menu {
        right: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .header-menubar ul {
        display: block;
        list-style: none;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .header-menubar ul li {
        margin-left: 0;
    }
    .header-menubar ul li a {
        color: #FFF !important;
        font-size: 16px;
        font-weight: 400;
        padding: 0 10px 0 20px;
        line-height: 3;
    }
    .logo-area h1 {
        font-size: 18px;
    }
    .logo-area h1 a {
        color: rgba(60,60,60,1);  
        font-family: Montserrat;
    }
    .header-area {
        min-height: auto;
        padding-top: 12px;
        padding-bottom: 13px;
    }
    .banner-content {
        margin-top: 0;
        padding: 0;
    }
    .banner-area {
        padding: 60px 0;
        position: relative;
    }
    .banner-area:after{
        position: absolute;
        width:100%;
        height: 48px;
        content: "";
        background: rgba(60,60,60,1);
        top: 0;
        left: 0;
    }
    .footer-area .logo-area {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media all and (max-width: 575px) {
    .section-title h1 {
        font-size: 28px;
    }
    .about-content h2 {
        font-size: 28px;
    }
    .contact-title h2 {
        font-size: 28px;
    }
}